{% if ansible_hostname == "clickhouse-0" %}
CREATE DATABASE IF NOT EXISTS kang;
CREATE DATABASE IF NOT EXISTS defaultdb0;
CREATE DATABASE IF NOT EXISTS defaultdb2;


CREATE TABLE defaultdb0.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,exit

    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard01}/tables/hits/industry_data', '{replica01}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);


CREATE TABLE defaultdb2.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard02}/tables/hits/industry_data', '{replica02}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);

CREATE TABLE kang.industry_data_distributed
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = Distributed('KANG_CLICKHOUSE', '', 'industry_data', rand());




{% elif ansible_hostname == "clickhouse-1" %}
CREATE DATABASE IF NOT EXISTS kang;
CREATE DATABASE IF NOT EXISTS defaultdb0;
CREATE DATABASE IF NOT EXISTS defaultdb1;

CREATE TABLE defaultdb0.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard01}/tables/hits/industry_data', '{replica01}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);


CREATE TABLE defaultdb1.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard02}/tables/hits/industry_data', '{replica02}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);


CREATE TABLE kang.industry_data_distributed
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = Distributed('KANG_CLICKHOUSE', '', 'industry_data', rand());






{% elif ansible_hostname == "clickhouse-2" %}
CREATE DATABASE IF NOT EXISTS kang;
CREATE DATABASE IF NOT EXISTS defaultdb2;
CREATE DATABASE IF NOT EXISTS defaultdb1;

CREATE TABLE defaultdb1.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard01}/tables/hits/industry_data', '{replica01}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);


CREATE TABLE defaultdb2.industry_data
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = ReplicatedMergeTree('/clickhouse/{cluster}/{shard02}/tables/hits/industry_data', '{replica02}')
ORDER BY (Year, Industry_code_NZSIOC, Variable_code);


CREATE TABLE kang.industry_data_distributed
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = Distributed('KANG_CLICKHOUSE', '', 'industry_data', rand());



{% endif %}
