{% if ansible_hostname == "clickhouse-0" %}
CREATE DATABASE IF NOT EXISTS defaultdb0;

{% elif ansible_hostname == "clickhouse-1" %}
CREATE DATABASE IF NOT EXISTS defaultdb0;

{% elif ansible_hostname == "clickhouse-2" %}
CREATE DATABASE IF NOT EXISTS defaultdb2;

{% endif %}
