CREATE TABLE kang.industry_data_distributed
(
    Year UInt16,
    Industry_aggregation_NZSIOC String,
    Industry_code_NZSIOC String,
    Industry_name_NZSIOC String,
    Units String,
    Variable_code String,
    Variable_name String,
    Variable_category String,
    Value String,
    Industry_code_ANZSIC06 String
) ENGINE = Distributed('KANG_CLICKHOUSE', '', 'industry_data', rand());
