version: "3.8"
services:
  clickhouse-keeper:
    container_name: "clickhouse-keeper-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
    image: "{{ clickhouse_keeper_base_image }}:{{ clickhouse_keeper_version }}"
    volumes:
      - "{{ clickhouse_base_directory_path }}/Clickhouse/Keeper/Config/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml"
      - "{{ clickhouse_base_directory_path }}/Clickhouse/Keeper/Logs/clickhouse-keeper.log:/var/log/clickhouse-keeper/clickhouse-keeper.log"
      - "{{ clickhouse_base_directory_path }}/Clickhouse/Keeper/Logs/clickhouse-keeper.err.log:/var/log/clickhouse-keeper/clickhouse-keeper.err.log"
    restart: unless-stopped
    network_mode: host

