<clickhouse>
    <logger>

        <level>trace</level>
        <log>{{ clickhouse_keeper_log_file_path_on_container }}</log>
        <errorlog>{{ clickhouse_keeper_error_file_path_on_container }}</errorlog>

        <size>1000M</size>
        <count>10</count>
    </logger>
    <max_connections>4096</max_connections>
    <listen_host>0.0.0.0</listen_host>
    
    <keeper_server>
        <tcp_port>2181</tcp_port>
        <server_id>{{ ansible_play_batch.index(inventory_hostname) + 1 }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>clickhouse-0</hostname>
                <port>9234</port>
            </server>
            <server>
                <id>2</id>
                <hostname>clickhouse-1</hostname>
                <port>9234</port>
            </server>
            <server>
                <id>3</id>
                <hostname>clickhouse-2</hostname>
                <port>9234</port>
            </server>
        </raft_configuration>
    </keeper_server>



</clickhouse>