tickTime=2000
dataDir=/data
dataLogDir=/datalog
maxClientCnxns=0
autopurge.snapRetainCount=3
autopurge.purgeInterval=0
server.1=clickhouse-0:2888:3888
server.2=clickhouse-1:2888:3888
server.3=clickhouse-2:2888:3888
initLimit=5
syncLimit=2
clientPort=2181
myid={{ ansible_play_batch.index(inventory_hostname) + 1 }}
